@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
h6 {
    font-size: 14px !important;
    font-weight: 600;
}
hr {
    color: #cac7c7 !important;
 }
.btn-sm{
    font-size: 10px !important;
}
.input-group .input-group-text{
  border-bottom-left-radius: 50px ;
  border-top-left-radius: 50px ;
  border: none ;
  background-color: #f5f5f5;
  color: #7A7A7A;
}
.input-group .form-control{
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  background-color: #f5f5f5;
}
.form-floating label{ 
  font-size: 14px;
  color: #7A7A7A;
}
.form-floating .form-control{
    height: calc(4rem + 3px) !important;
    color: #292929;
}
.form-floating .form-control:focus{
  background-color: #f5f5f5;
  box-shadow: none;
}
.form-control:focus{
    background-color: #f5f5f5 !important;
    box-shadow: none !important;
}
.form-check-input{
    width: 18px;
    height: 18px;
}
.invalid-input{
    border: 1px solid red;
    border-radius: 50px;
}
.pages{
    width: 30%;
    min-height: 100vh;
}
.pages a{
    color: #292929;
}
.pages a:hover{
    color: #292929;
}
.pages .text-success{
    color: #03AC0E !important;
}
.pages .btn-outline-success{
    color: #03AC0E !important;
    border-color: #03AC0E !important;
}
.pages .btn-outline-success:hover{
    color: #fff !important;
    border-color: #03AC0E !important;
    background-color: #03AC0E !important;
}
.pages .btn-outline-success:focus{
    color: #fff !important;
    border-color: #03AC0E !important;
    background-color: #03AC0E !important;
    box-shadow: none !important;
}
.pages .btn-success{
    color: #fff !important;
    background-color: #03AC0E !important;
    border-color: #03AC0E !important;
}
.header h6{
    font-size: 16px !important;
}
.header{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
}
.back-button{
  cursor: pointer;
}
.error-msg{
  padding: 8px 18px;
  border-radius: 5px;
  background-color: #FFEEEA;
  color: #F3563A;
  font-size: 13px;
}
.success-msg{
  box-shadow: 6px 3px 11px 3px rgba(161,140,140,0.55);
  border-radius: 10px;
}
/* Halaman Category */
.category-link a{
    font-size: 11px;
    font-weight: 400;
    color: #7A7A7A;
}
.category-link a:hover{
    color: #03AC0E;
    background-color: #f4f4f4;
}
/* Product */
.product img{
    max-width: 90px;
    max-height: 80px;
}
.search .form-control{
    height: calc(3rem + 2px) !important;
    font-size: 14px;
    color: #292929;
}
.search .input-group .form-control{
    border: 1px solid #ebebeb;
    border-left: none;
}
.search .input-group .input-group-text{
    border: 1px solid #ebebeb;
    border-right: none;
}

/* Halaman Detail Produk */
.product-detail .bg-secondary{
    background-color: #ebebeb !important;
    color: #7A7A7A;
    font-size: 12px;
}
.product-detail img{
    max-width: 300px;
    max-height: 250px;
}
/* Halaman Login */
.login-page h2{
    font-size: 24px;
    font-weight: 700;
    color: #03AC0E;
}
/* Cart Detail */
.product-list {
    border-bottom: 1px dashed #EBEBEB;
}
.product-list span {
    font-size: 14px !important;
}
.product-total{
    border-bottom: 1px solid #EBEBEB;
}
/* Cart */
.cart-page a{
    border-radius: 16px;
}
.card{
    border: none !important;
}

@media (max-width: 576px) { 
    .pages{
        width: 100%;
    }
    .product-detail .btn-success{
        width: 100% !important;
    }
}